html {
        color: tomato;
}

body {
        font-family:'Lexend', sans-serif;
        color:#d6ef84;
        background-color:#40554b;
}
    
header {
        font-family: 'Boldonse', sans-serif;
        color: #d6ef84;
        }    