:root {
        font-size: 125%;
        --primary-text-color: #fef5ee;
        --header-blockquote-font: 'Beth Ellen', sans-serif;
        --primary-font: 'Lexend', sans-serif;

}

html {}

body {
        font-family: var(--primary-font);
        font-weight: 300;
        background-color: #fef5ee;
        padding: 0;
        margin: 0;
        position: relative;
}

p {
        font-family: var(--primary-font);
        font-weight: 300;
        padding-block: 1rem;

}

header {
        font-family: var(--header-blockquote-font);
        color: var(--primary-text-color);
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 0;
        flex-direction: column;
        background: #EC368D;
        background: linear-gradient(180deg, rgba(236, 54, 141, 1) 0%, rgba(255, 193, 69, 1) 100%);
}

h1 {
        color: var(--primary-text-color);
        font-size: 6rem;
        /* text-transform: uppercase; */
        /* background-color: red; */
}


.subtitle {
        color: var(--primary-text-color);
        font-size: 3rem;
        align-items: flex-start;
        /* text-transform: uppercase; */
        /* background-color: blue; */
        margin-block-start: -2rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
}

#author-quote {
        font-size: 2rem;
        padding: 3rem;
        padding-inline: 22%;

}


h2,
.author,
.author2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
}

.author2 {
        padding-block-start: 4rem;
}


a {
        color: #d6ef84;
        text-decoration: none;

}

#my-response h2 {
        margin-block-start: 10rem;
}

#my-response,
.highlight,
#original-article {
        padding: 2%;
        padding-inline: 22%;
}

blockquote {
        padding: 1.5rem;
}


blockquote p {
        font-weight: 700;
        font-size: 1.5rem;
        font-family: var(--header-blockquote-font);

}

.reflection-blockquote,
#final-reflection {
        background: linear-gradient(to top, #EC368D, #ffc145);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

li {
        padding-block: 0.25rem;
}

ul {
        margin-block-end: 6rem;
        list-style-type: disc;
}

#final-reflection {
        margin-bottom: 3rem;
        font-family: var(--header-blockquote-font);
}


footer {
        color: #40554b;
        width: 100%;
        position: fixed;
        padding-inline-start: 1%;
        inset-block-end: 0px;
        background: linear-gradient(#d6ef84, #a2c335);
        display: flex;
        flex-direction: column-reverse;
}
footer p:first-child{
        align-self:center;
        padding-block-end: 1rem;
}
footer p {
        font-weight: 700;
        font-family: var(--primary-font);
        

}

#footer-links {
        display: flex;
        justify-content: space-between;
        margin-inline: 20%;
        padding-block-start: 1rem;
        /* flex-direction: column; */
}

.footer-link2 {

        /* inset-block-end: -0.3rem;
        inset-inline-end: 1%;
        padding-inline-end: 1%; */
        color: #40554b;
        white-space: nowrap;
        /* background-color: green; */
}

.footer-link1 {
        /* inset-block-end: -0.3rem;
        inset-inline-end: 10rem;
        padding-inline-end: 1%; */
        white-space: nowrap;
        color: #40554b;
        /* background-color: green; */
}

footer a {
        color: #40554b;
}

@media (min-width: 768px) {
        footer {
                flex-direction: row;
                justify-content: space-between;
                padding-block: 1rem;
        }

        #footer-links {
                margin-right: 2rem;
                justify-content: space-between;
                gap: 0 1rem;
                 padding-block-start: 0rem;
        }
        footer p:first-child{
        padding-block-end: 0rem;
}
}